<p>This is a game where you have to serve customers the cocktails that they order. You can add do this by dragging ingredients to the shaker in the middle with your mouse.
    Once you've added all your ingredients, you can start shaking them by pressing the shake button on the bottom left and dragging the shaker around.
    If you're done shaking, you can serve the cocktail by pressing the serve button and dragging the shaker to the customer you want to serve.
</p>
<br>
<p>If you want to clear the shaker at any point, you can do so by dragging the shaker to the thrash can on the bottom left and releasing it.</p>
